@import url("./variables.css");

.header {
  width: 100%;
  background-color: var(--dark);
  padding: var(--pd-xl) 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  max-width: 12rem;
}
.header-logo {
  max-width: 100%;
  width: 100%;
}

.header-input-container {
  flex: 1;
  border: none;
  background-color: rgba(255, 255, 255, 0.16);
  max-width: 752px;
  height: 56px;
  border-radius: 0.5rem;
}
.header-input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 var(--pd-xl);
  border-radius: 0.5rem;
  color: white;
}
.header-input::placeholder {
  color: rgba(255, 255, 255, 0.64);
}

.header-profile-container {
  display: flex;
  align-items: center;
  gap: var(--pd-l);
  color: white;
}
.header-profile-img {
  max-width: 48px;
  border-radius: 50%;
}
